<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>RumahSehat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="container">
    </br>
    <h2>Daftar Seluruh Appointment</h2>
    </br>
    <div class="container" th:if="${listAppointment.empty}">
      <h3 class="text-center">-- Belum ada Appointment --</h3>
    </div>
    <table class="table" th:unless="${listAppointment.empty}">
      <thead>
      <tr class="bg-secondary text-light font-weight-normal">
        <th>No</th>
        <th>Nama Dokter</th>
        <th>Nama Pasien</th>
        <th>Waktu</th>
        <th>Status</th>
        <th>Detail</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="appt, iterationStatus : ${listAppointment}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${appt.dokter.nama}"></td>
        <td th:text="${appt.pasien.nama}"></td>
        <td th:text="${#temporals.format(appt.waktuAwal, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:if="${appt.isDone}">Selesai</td>
        <td th:unless="${appt.isDone}">Belum Selesai</td>
        <td><a class="btn btn-danger" th:href="@{/appointment/detail/} + ${appt.kode}">Detail</a></td>
      </tr>
      </tbody>
    </table>
    </br>
    <a class="btn btn-primary" th:href="@{/}">Kembali</a>
  </div>
</body>
</html>