<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Rumah Sehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Create Resep</h2>
                    <br>
                    <form th:action="@{/resep/create/} + ${kodeAppointment}" th:object="${resep}" method="POST">
                        Kode Appointment: <br>
                        <input class="form-control" type="text"th:value="${kodeAppointment}" readonly/>
                        <br>
                        <table class="table">
                            <thead>
                            <th>Daftar Obat</th>
                            </thead>
                            <tbody>
                
                            <tr th:each="obat, iterationStatus : *{listJumlah}">
                                <td>
                                <select name="id_obat" class="js-example-basic-single form-control" th:field="*{listJumlah[__${iterationStatus.index}__].obat.id}">
                                    <div th:each="obatEx, iterationStatus2 : ${listObat} ">
                                        <option th:value="${obatEx.id}" th:text="${obatEx.nama}"></option>
                                    </div>
                                </select>
                                </td>
                                <td>
                                <input required class="form-control" type="number" placeholder="Kuantitas" th:field="*{listJumlah[__${iterationStatus.index}__].kuantitas}" />
                                <br><br>
                                </td>
                                <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRowObat">Hapus</button>
                                </td>
                            </tr>
                            <th>
                                <button class="btn btn-primary" type="submit" name="addRowObat">Tambah Obat</button>
                            </th>
                            </tbody>
                            </table>
                        <button class="btn btn-primary" type="submit">Create Resep</button>
                        <a class="btn btn-primary" href="/">Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
