<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Beranda</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace = "fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
  <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="m-4">
    <div class="card border border-light">
      <div class="card-header text-white bg-primary mb3">
        <h2>WELCOME TO RUMAH SEHAT</h2>
      </div>
      <div class="card-body">
        <br>
        <h5 align ="center">List of features:</h5>
        <br>
        <div class="d-flex justify-content-center">
          <a th:href="@{/appointment}" class = "mx-2 btn btn-primary">Appointment</a>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
          <div class="my-3 d-flex justify-content-center">
            <a th:href="@{/resep/viewall}" class = "mx-2 btn btn-primary">Resep</a>
            <a th:href="@{/obat/viewall}" class = "mx-2 btn btn-primary">Obat</a>
            <a th:href="@{/user/manajemenUser}" class="mx-2 btn btn-outline-success">Manajemen User</a>
          </div>
        </div>
        <div sec:authorize="hasAuthority('DOKTER')">
        </div>
        <div sec:authorize="hasAuthority('APOTEKER')">
          <div class="my-3 d-flex justify-content-center">
            <a th:href="@{/resep/viewall}" class = "mx-2 btn btn-primary">Resep</a>
            <a th:href="@{/obat/viewall}" class = "mx-2 btn btn-primary">Obat</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>
